<div class="card mt-4">
    <div class="card-body">
        <div class="input-group">
            <input type="text" placeholder="Agregar Tarea" class="form-control form-control-lg"
            [(ngModel)]="tarea">
            <div class="input-group-append">
                <button type="button" class="btn btn-success btn-lg" 
                (click)="agregarTarea()"
                [disabled]="tarea ==''"> Agregar</button>
            </div>
        </div>
        <br>
        <h5 *ngIf="listTareas.length == 0">No hay tareas para realizar</h5>
        <ul>
            <li *ngFor="let tarea of listTareas">
                {{ tarea.nombre }}
            </li>
        </ul>
    </div>
</div>